* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html {
    background-color: beige;
    height: 100vh;
}
body {
    height: 100%;   
    display: flex;
    flex-direction: column;
}
header {
    background-color: yellow;
    padding: 5rem;
    text-align: center;
    color: purple;
    text-shadow: 1px 1px 1px black;
    font-size: 15px;
}

nav {
    background-color: green;
    color: black;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    width: 80%;
}

nav li {
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    transition: 0.7s;
    color: white;
}

nav li:hover {
    background-color: #999;
    cursor: pointer;
}

img { 
    text-align: center;
    padding: 1.2rem;
    width: 300px;
    height: 300px;
    border-radius: 35%;

}
section{
    display: flex;
    flex: 3; 
    
}

article{
    display: flex;
    flex: 1;
    padding: 0.5rem;
    border: 0.7px solid red;
    text-align: center;
    color: rgb(12, 77, 218);
    font-weight: 900;
    font-size: 20px;
 }

 footer {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 0.7rem;
}